In [ ]:
%pip install pandas

<h2>Dataset display</h2>

In [4]:
import pandas as pd

yt_df = pd.read_csv('dataset_youtube/archive/youtubers_df.csv')

#display the first 10 elements
display(yt_df.head(10))

#shape shows the number of rows and columns in the dataset
print(f'The number of columns and rows in this dataset is {yt_df.shape}')

,Rank,Username,Categories,Suscribers,Country,Visits,Likes,Comments,Links
0,1,tseries,Música y baile,249500000.0,India,86200.0,2700.0,78.0,http://youtube.com/channel/UCq-Fj5jknLsUf-MWSy...
1,2,MrBeast,"Videojuegos, Humor",183500000.0,Estados Unidos,117400000.0,5300000.0,18500.0,http://youtube.com/channel/UCX6OQ3DkcsbYNE6H8u...
2,3,CoComelon,Educación,165500000.0,Unknown,7000000.0,24700.0,0.0,http://youtube.com/channel/UCbCmjCuTUZos6Inko4...
3,4,SETIndia,NaN,162600000.0,India,15600.0,166.0,9.0,http://youtube.com/channel/UCpEhnqL0y41EpW2TvW...
4,5,KidsDianaShow,"Animación, Juguetes",113500000.0,Unknown,3900000.0,12400.0,0.0,http://youtube.com/channel/UCk8GzjMOrta8yxDcKf...
5,6,PewDiePie,"Películas, Videojuegos",111500000.0,Estados Unidos,2400000.0,197300.0,4900.0,http://youtube.com/channel/UC-lHJZR3Gqxm24_Vd_...
6,7,LikeNastyaofficial,Juguetes,107500000.0,Unknown,2600000.0,28000.0,0.0,http://youtube.com/channel/UCJplp5SjeGSdVdwsfb...
7,8,VladandNiki,"Animación, Juguetes",101400000.0,Unknown,4100000.0,22100.0,0.0,http://youtube.com/channel/UCvlE5gTbOvjiolFlEm...
8,9,zeemusiccompany,Música y baile,99700000.0,India,74300.0,2600.0,32.0,http://youtube.com/channel/UCFFbwnve3yF62-tVXk...
9,10,WWE,Videojuegos,97200000.0,Estados Unidos,184500.0,6300.0,214.0,http://youtube.com/channel/UCJ5v_MCY6GNUBTO8-D...

The number of columns and rows in this dataset is (1000, 9)

## Top 10 youtubers with the most subscribers

In [5]:
username_series = yt_df['Username']
display(username_series.head(10))

0               tseries
1               MrBeast
2             CoComelon
3              SETIndia
4         KidsDianaShow
5             PewDiePie
6    LikeNastyaofficial
7           VladandNiki
8       zeemusiccompany
9                   WWE
Name: Username, dtype: object

<h2>Type of content made by youtubers with more than 100.000.000 subscribers<h2>

In [7]:
#loc[rows, cloumns]
plus_five_million_content = yt_df.loc[yt_df['Suscribers'] >= 100000000, ['Categories']]
display(plus_five_million_content)

               Categories
0          Música y baile
1      Videojuegos, Humor
2               Educación
3                     NaN
4     Animación, Juguetes
5  Películas, Videojuegos
6                Juguetes
7     Animación, Juguetes

## Youtuber with the highest avarage comments

In [29]:
most_commented = yt_df['Comments'].max()
yt_yt_most_commented = yt_df.loc[yt_df['Comments'] == most_commented, ['Username', 'Categories', 'Country', 'Comments']]
display(yt_yt_most_commented)

               Username      Categories Country  Comments
436  BispoBrunoLeonardo  Música y baile  Brasil  154000.0

In [31]:
most_commented = yt_df['Comments'].idxmax()
yt_most_commented = yt_df.loc[most_commented]
display(yt_most_commented)

Rank                                                        437
Username                                     BispoBrunoLeonardo
Categories                                       Música y baile
Suscribers                                           18000000.0
Country                                                  Brasil
Visits                                                 762100.0
Likes                                                  276400.0
Comments                                               154000.0
Links         http://youtube.com/channel/UCVNouUw3d3l5JYVCxh...
Name: 436, dtype: object

## Youtuber with the highest average likes

In [30]:
most_liked = yt_df['Likes'].idxmax()
yt_yt_most_liked = yt_df.loc[most_liked]
display(yt_yt_most_liked)

Rank                                                          2
Username                                                MrBeast
Categories                                   Videojuegos, Humor
Suscribers                                          183500000.0
Country                                          Estados Unidos
Visits                                              117400000.0
Likes                                                 5300000.0
Comments                                                18500.0
Links         http://youtube.com/channel/UCX6OQ3DkcsbYNE6H8u...
Name: 1, dtype: object

## Youtuber with the highest average visits

In [37]:
most_visited = yt_df['Visits'].idxmax()
yt_most_visited = yt_df.loc[most_visited]
display(yt_most_visited)

Rank                                                          2
Username                                                MrBeast
Categories                                   Videojuegos, Humor
Suscribers                                          183500000.0
Country                                          Estados Unidos
Visits                                              117400000.0
Likes                                                 5300000.0
Comments                                                18500.0
Links         http://youtube.com/channel/UCX6OQ3DkcsbYNE6H8u...
Name: 1, dtype: object